// You can add CSS rules here that will be inlined into each document.
.sidebar-nav-item {
  font-size: 1.3rem;
  opacity: 0.7;
  text-decoration: none;
  &:hover {
    opacity: 1;
  }
  transition: opacity 0.3s ease-out;
}
